.container {
  width: 100%;
  padding: 20px 10px;
  margin: 0 auto 50px;
  h2 {
    text-align: center;
  }
}

.artist {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
  img {
    width: 100%;
  }
  h3 {
    margin-top: 0;
  }
  h5 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .profilePic, .descriptionLarge {
    transition: all .2s ease-in-out;
  }

  &:hover {
    .profilePic {
      transform: scale(1.01);
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
    .descriptionLarge {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      .arrow {
        opacity: 1;
      }
    }
  }
}

.description {
  margin: 10px 0;
  a {
    color: $primary;
  }
}

.descriptionSmall, .descriptionLarge {
  position: relative;
  background-color: #fcf5eadb;
  backdrop-filter: blur(6px);
}

.descriptionSmall {
  border: none;
  border-bottom: 5px solid $bg-primary;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.descriptionLarge {
  display: none;
  margin-top: -40px;
  padding: 20px;
  cursor: pointer;
}

.artistHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 10px;
}

.artistLeft {
  display: flex;
  flex-direction: column;
  h3 {
    margin: 0;
  }
}

.arrow {
  padding-top: 2px;
}

.arrow svg {
  fill: $primary2;
}

.instaHandle {
  display: flex;
  align-items: center;
  color: $primary2;

  svg {
    margin-right: 10px;
    fill: $primary2;
  }
}

.instaHandle:hover {
  svg {
    fill: $primary;
  }
}

.profilePic {
  display: none;
}

.profilePicSmall {
  width: 100%;
  margin-bottom: 10px;
}

.content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  p {
    margin: 0;
  }
}

.artistPic {
  width: 100%;
  margin-bottom: 20px;
}

.wannados, .instaFeed {
  margin-top: 30px;
}

.igGalleryWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.imgWrapper {
  display: flex;
  width: 100%;
  margin: 5px;
}

.goToWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
  margin-top: 20px;

  .instaButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    background-color: $primary2;
    padding: 5px 10px;
    color: $white;
    border-radius: 10px;
    svg {
      margin-right: 10px;
      fill: $white;
    }
  }
}

@media screen and (min-width: 640px) {
  .container {
    width: 640px;
  }
  .imgWrapper {
    width: calc(50% - 10px);
  }
}

.descWrapper {
  padding: 0 5px;
}

@media screen and (min-width: 1008px) {
  .container {
    width: 1000px;
    padding: 20px;
  }
  .profilePic {
    display: block;
    width: 60%;
  }
  .descWrapper {
    width: 50%;
    padding: 0;
  }

  .description {
    margin-top: 0;
  }

  .artistHeader {
    padding: 0 0 10px;
  }
  .descriptionLarge {
    display: block;
    margin-top: 0;
    margin-left: -100px;
    .arrow {
      opacity: 0;
      transition: all 0.2s ease;
    }
  }
  .artist {
    flex-direction: row;
    margin-bottom: 40px;
    align-items: center;
    &:nth-child(odd) {
      flex-direction: row-reverse;
      .descriptionLarge {
        margin-left: 0;
        margin-right: -100px;
      }
    }
  }
  .content {
    flex-direction: row;
  }
  .artistPic {
    width: 50%;
    margin-right: 20px;
  }
  .descriptionSmall {
    display: none;
  }
  .imgWrapper {
    width: calc(100%/3 - 10px);
  }
}