.container {
  width: 100%;
  padding: 20px 10px;
  margin: 0 auto 50px;
}

.artist {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  img {
    width: 100%;
  }
  h3 {
    margin-top: 0;
  }
  h5 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.description {
  margin-top: 10px;
  a {
    color: $primary;
  }
}

.descriptionSmall, .descriptionLarge {
  position: relative;
  background-color: #fcf5eadb;
  backdrop-filter: blur(6px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.descriptionSmall {
  border: none;
  border-bottom: 5px solid $primary2;
  border-radius: 5px;
  overflow: hidden;
}

.descriptionLarge {
  display: none;
  margin-top: -40px;
  padding: 20px;
  cursor: pointer;
}

.artistHeader {
  display: flex;
  // align-items: center;
  justify-content: space-between;
  padding: 0 10px 10px;
}

.artistLeft {
  display: flex;
  flex-direction: column;
  h3 {
    margin: 0;
  }
}

.arrow {
  padding-top: 2px;
}

.arrow svg {
  fill: $primary2;
}

.instaHandle {
  display: flex;
  align-items: center;
  color: $primary2;

  svg {
    margin-right: 10px;
    fill: $primary2;
  }
}

.instaHandle:hover {
  svg {
    fill: $primary;
  }
}

.profilePic {
  display: none;
}

.profilePicSmall {
  width: 100%;
  margin-bottom: 10px;
}

.content {
  margin-top: 20px;
}

@media screen and (min-width: 640px) {
  .container {
    width: 640px;
  }
}

.descWrapper {
  padding: 0 5px;
}

@media screen and (min-width: 1008px) {
  .container {
    width: 1000px;
    padding: 20px;
  }
  .profilePic {
    display: block;
    width: 60%;
  }
  .descWrapper {
    width: 50%;
    padding: 0;
  }

  .description {
    margin-top: 0;
  }

  .artistHeader {
    padding: 0 0 10px;
  }
  .descriptionLarge {
    display: block;
    margin-top: 0;
    margin-left: -100px;
    .arrow {
      opacity: 0;
      transition: all 0.2s ease;
    }

    &:hover {
      .arrow {
        opacity: 1;
      }
    }
  }
  .artist {
    flex-direction: row;
    margin-bottom: 40px;
    align-items: center;
    &:nth-child(odd) {
      flex-direction: row-reverse;
    }
  }
  .descriptionSmall {
    display: none;
  }
}