.article {
  display: flex;
  flex-direction: column;
}

.articleImage {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
  flex-shrink: 0;
}

@media screen and (min-width: 1008px) {
  .article {
    flex-direction: row;
  }
  .articleImage {
    width: calc(50% - 10px);
    margin-right: 20px;
  }
}