.contactWrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-content: center;
}

.verticalSplit {
  border-bottom: 2px solid #CE9C2F;
  border-right: 2px solid #CE9C2F;
  margin: 20px;
}

.contactLeft, .contactRight {
  flex-grow: 1;
  padding: 20px;
}

.contactLeft {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contactRight {
  display: flex;
  flex-direction: column;
  padding: 20px 0;

  label {
    display: flex;
    flex-direction: column;
  }

  input, textarea, button {
    appearance: none;
    border: 1px solid white;
    padding: 10px 10px;
    font-size: 25px;
    margin-bottom: 20px;
    &.error {
      border-color: rgb(200, 35, 35);
    }
  }
  textarea {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
  button {
    border-color: #CE9C2F;
    background-color: #CE9C2F;
    color: white;
    margin-bottom: 0;
  }
}

.success {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 5px;
  border: 1px solid green;
  color: green;
  background-color: rgb(208, 255, 220);
}

@media screen and (min-width: 1008px) {
  .contactWrapper {
    flex-direction: row;
    margin-bottom: 20px;;
  }
  .verticalSplit {
    margin: 0;
  }
  .contactLeft, .contactRight {
    width: 50%;
  }
  .contactRight {
    padding: 20px;
  }
}