.footer {
  background-color: $black;
  border-top: 5px solid $primary;
  min-height: 30vh;
  iframe {
    background-color: $black;
    border-bottom: 5px solid $primary !important;
  }
}

.footerEnd {
  text-align: center;
  color: #7b7b7b;
  background-color: #020202;
  font-size: 18px;
}

.content {
  width: 100%;
  padding: 20px 10px;
  margin: 0 auto;
  span {
    user-select: none;
  }
  svg {
    fill: red;
  }
}