.gallery {
  margin-bottom: 50px;
}

.imageWrapper {
  overflow: hidden;
}

.image {
  transition: all 0.2s ease;
  cursor: pointer;
}

.showAll {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 100px;
  button {
    appearance: none;
    padding: 10px;
    border: 2px solid $primary;
    background-color: transparent;
    color: $primary;
    font-size: 25px;;
  }
}

.hoverGalleryWrapper {
  z-index: 1;
  display: none;
  user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.787);
  // display: flex;
  justify-content: center;
  align-items: center;
}

.hoverImageWrapper {
  position: relative;
  width: 100%;
  padding: 20px 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bigImage {
  max-height: 80vh;
  border: 5px solid #CE9C2F;
}

.closeWrapper {
  font-size: 30px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  margin-bottom: 20px;
  padding: 5px 20px;
  cursor: pointer;
  svg {
    fill: white;
    margin-right: 20px;
  }
  &:hover {
    border-color: #CE9C2F;
    color: #CE9C2F;
    svg {
      fill: #CE9C2F;
    }
  }
}

.imageWrapper {
  // position: relative;
}

.prev {
  position: absolute;
  left: 20px;
  top: calc(50% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid white;
}

.next {
  position: absolute;
  right: 20px;
  top: calc(50% - 20px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 2px solid white;
}

.prev, .next {
  background-color: black;
  cursor: pointer;
  svg {
    fill: white;
  }
  &:hover {
    border-color: #CE9C2F;
    svg {
      fill: #CE9C2F;
    }
  }
}

// @media screen and (min-width: 640px) {
//   .hoverImageWrapper {
//     width: 640px;
//   }
// }

@media screen and (min-width: 1008px) {
  .hoverGalleryWrapper {
    display: flex;
  }
  .image {
    &:hover {
      transform: scale(1.05);
    }
  }
  .active {
    border-color: #CE9C2F;
    z-index: 1;
  }

  .showAll {
    padding-top: 150px;
  }
}