// 1. Your custom variables and variable overwrites.
$global-link-color: #DA7D02;

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";

@font-face {
  font-family: 'raleway';
  src: url('/fonts/raleway.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #111;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: #CE9C2F;
    text-decoration: none;
  }
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-family: 'raleway', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  text-align: center;
  padding: 30px;
  margin-bottom: 40px;
  color: white;
  span {
    background: linear-gradient(0, #CE9C2F 0 50%, transparent 50% 100%);
    background-size: 120%;
    background-repeat: no-repeat;
    display: inline;
    padding: 0 1rem 0 0.5rem;
  }
}

h4 {
  color: white;
  span {
    background: linear-gradient(0, #CE9C2F 0 50%, transparent 50% 100%);
    background-size: 120%;
    background-repeat: no-repeat;
    display: inline;
    padding: 0 1rem 0 0.5rem;
  }
}


h5 {
  color: #CE9C2F;
}

h2, h3 {
  color: #32CA98;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #111;
  }
}
