.header {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  color: #11111197;
  transition: all 0.3s;
  background: linear-gradient(0, transparent 0 32%, rgba(0, 0, 0, 0.4) 35%, $green 35% 40%, $bg-primary 40% 100%);
  background-size: 120%;
  background-repeat: no-repeat;
}

.headerCenter {
  display: flex;
  justify-content: center;
  padding: 10px;
  img {
    width: 120px;
  }
}

@media screen and (min-width: 1008px) {
  .headerCenter {
    padding: 20px;
    img {
      width: 180px;
    }
  }
}