.container {
  background-color: $black;
}

.content {
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title {
  text-align: center;
}

.top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 20px 20px 20px 40px;
  background: url('/shinobi-bg.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-top: 5px solid $primary2;
}

.scrolldownWrapper {
  position: absolute;
  bottom: 40px;
  margin-right: 20px;
}

.mouse {
	width: 30px;
	height: 50px;
	border: 2px solid $primary2;
	border-radius: 60px;
	position: relative;
  cursor: pointer;
	&::before {
		content: '';
		width: 7px;
		height: 7px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		background-color: $primary2;
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 40px;
	}
}

.logo img {
  width: 100%;
  max-width: 600px;
  animation: fadeIn 1s;
}

.area {
  width: 100vw;
}

.homeWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 0 10px;
  hyphens: auto; 
	text-align: justify;

  h3 {
    text-align: center;
  }

  blockquote {
    color: $gray;
    margin-bottom: 40px;
    text-align: center;
  }
}

@media screen and (min-width: 640px) {
  .content {
    width: 640px;
  }
}

@media screen and (min-width: 1008px) {
  .content {
    width: 1000px;
    padding: 20px;
  }
  .headerCenter {
    padding: 20px;
    img {
      width: 180px;
    }
  }
}

@keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1;}
}
