$global-link-color: #DA7D02;
$primary: #BB7A39;
$secondary: #32CA98;
$black: #111111;
$white: #f6f6f6;
$gray: #a4a4a4;
$darkGray: #302d36;

$bg-primary: #BAA58F;
$bg-primary-light: #e6d3bf;
$bg-primary-lighter: #fff8f1;
$orange: #BB7A39;
$primary2: #53121e;
$green-light: #292f2e;
$green: #1c201f;