$global-link-color: #DA7D02;
$primary: #BB7A39;
$secondary: #32CA98;
$black: #111111;
$white: #f6f6f6;
$gray: #a4a4a4;

$bg-primary: #a29682;
$bg-primary-light: #fcf5ea;
$bg-primary-lighter: #faf6f4;
$orange: #BB7A39;
$primary2: #53121e;
$green-light: #38422e;
$green: #042F29;